@model CargoDispath.Models.EditProfile
@{
    ViewBag.Title = "Профиль";
}
<div class="body-container">
    <div class="round-rectangle info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="section-title text-center">Профиль</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                    E-mail: @ViewBag.userEdit.UserName
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                   Имя: @ViewBag.userEdit.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                    Фамилия: @ViewBag.userEdit.Surname
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                    Номер телефона: @ViewBag.userEdit.PhoneNumber
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                    Адрес: @ViewBag.userEdit.Adress
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-4 col-md-offset-1">
                    <button type="button" class="btn btn-info btn-lg btn-block" id="editing" >Редактировать</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModalEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Редактирование профиля</h4>
            </div>
            <form id="editForm" method="post" action="/Account/EditUser">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                   
                    <div class="container">
                       
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <div class="form-group">
                                    <label>Имя</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="input-group input-margin-bottom form-control" name="Name" value="@ViewBag.userEdit.Name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <div class="form-group">
                                    <label>Фамилия</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="input-group input-margin-bottom form-control" name="Surname" value="@ViewBag.userEdit.Surname" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <div class="form-group">
                                    <label>Электронный адрес</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="email" class="input-group input-margin-bottom form-control" name="Email" value="@ViewBag.userEdit.UserName"/>
                                    </div>
                                    @*<span class="error">@Html.ValidationMessageFor(model => model.Email)</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <div class="form-group">
                                    <label>Номер телефона</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-mobile fa" aria-hidden="true"></i></span>
                                        <input type="text" class="input-group input-margin-bottom form-control" name="PhoneNumber"  value="@ViewBag.userEdit.PhoneNumber"/>

                                    </div>
                                    @*<span class="error">@Html.ValidationMessageFor(model => model.PhoneNumber)</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <div class="form-group">
                                    <label>Адрес</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-address-card-o fa" aria-hidden="true"></i></span>
                                        <input type="text" class="input-group input-margin-bottom form-control" name="Adress" value="@ViewBag.userEdit.Adress"/>

                                    </div>
                                    @*<span class="error">@Html.ValidationMessageFor(model => model.Adress)</span>*@

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="resetingModal">Отмена</button>
                    <button type="submit" class="btn btn-primary" id="sumbitEdit">Сохранить</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*@section Scripts{

        <script>
                $(document).ready(function () {
                    $.get("/Account/EditUser").then(function (user) {
                        if (user != null) {

                            console.log(user);
                        }
                        

                    })
                })

        </script>
}*@