<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'696346fb-8e2c-4eba-be9e-02146429d8fd'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">CargoDispatch <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Разместить <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/LocateCargo/Locate">Разместить груз</a></li>
                                <li><a href="/LocateCar/LocateCar">Разместить авто</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-lg" aria-hidden="true"></i> Поиск <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Search/SearchCar">Поиск автомобилей</a></li>
                                <li><a href="/Search/Search">Поиск грузов</a></li>
                            </ul>
                        </li>
                        <li><a href="/MyCars/AllCars"><i class="fa fa-car fa-lg" aria-hidden="true"></i> Автопарк</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> Личный кабинет <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Profile/ProfilePage">Профиль</a></li>
                                <li><a href="/UserCargo/AllUserCargos">Мои грузы</a></li>
                                <li><a href="/UserCargo/AllUserCars">Мои авто</a></li>
                                @*<li><a href="/MyCars/AddCar">Добавить авто</a></li>*@
                            </ul>
                        </li>
                        @*<li><a href="/AllCargos/AllCargos"><i class="fa fa-archive fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="/AllCargos/AllCars"><i class="fa fa-car fa-lg" aria-hidden="true"></i></a></li>*@
                        <li><a href="/Account/Logout">Выйти</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login">Войти</a></li>
                        <li><a href="/Account/Register">Регистрация</a></li>
                       
                    }
                    

                </ul>
            </div>
        </div>
    </nav>
   
        @RenderBody()
        @RenderSection("scripts", required: false)
    <script>
        var userId = "@User.Identity.IsAuthenticated".toLowerCase();
    </script>
        <script src="~/Scripts/MyScripts/AddCargo.js"></script>
        <script src="~/Scripts/MyScripts/VehicleType.js"></script>
        <script src="~/Scripts/MyScripts/AddCar.js"></script>
        <script src="~/Scripts/MyScripts/Registration.js"></script>
        <script src="~/Scripts/toastr.js"></script>
        
</body>
</html>
