@model CargoDispath.Models.LoginModel
@{
    ViewBag.Title = "Вход";
}
<div class="body-container">
    <div class="round-rectangle log">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="section-title">Вход на сайт</h2>
                </div>
            </div>
            <form action="/Account/Login?ReturnUrl=@ViewBag.returnUrl" method="post">
                @Html.AntiForgeryToken()
                <div class="row" style="display: none;">
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <span style="color:lightgreen">@ViewBag.returnUrl</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <span style="color:lightgreen">@ViewBag.errorMessage</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Электронный адрес</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="input-group input-margin-bottom form-control" name="Email" required value="@ViewBag.Email" />
                            </div>
                            <span class="error">@Html.ValidationMessageFor(model => model.Email)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Пароль</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="input-group input-margin-bottom form-control" name="Password" required />
                            </div>

                            <span class="error">@Html.ValidationMessageFor(model => model.Password)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6 text-center">
                        Не зарегистрированы? <a href="/Account/Register">Регистрация</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6 text-center">
                        <a href="/Account/ForgotPassword">Забыли пароль?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


