@model CargoDispath.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="body-container">
    <div class="round-rectangle log">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="section-title">Регистрация</h2>
                </div>
            </div>


          
            <form method="post" action="/Account/Register" id="registration">

                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Имя</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="input-group input-margin-bottom form-control" name="Name" value="@ViewBag.Name"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Фамилия</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="input-group input-margin-bottom form-control" name="Surname" value="@ViewBag.Surname" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Электронный адрес</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="input-group input-margin-bottom form-control" name="Email" value="@ViewBag.Email" required />
                            </div>
                            <span class="error">@Html.ValidationMessageFor(model => model.Email)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Пароль</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="input-group input-margin-bottom form-control" name="Password" required />
                            </div>
                            <span class="error">@Html.ValidationMessageFor(model => model.Password)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label>Подтвердить пароль</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="input-group input-margin-bottom form-control" name="PasswordConfirm" required />
                            </div>
                            <span class="error">@Html.ValidationMessageFor(model => model.PasswordConfirm)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6 text-center">
                        Уже зарегистрированы? <a href="/Account/Login">Войти</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

